<h1>Editing Article</h1>
<style type= "text/css">
body {
background-image: url("https://userdisk.webry.biglobe.ne.jp/012/472/52/N000/000/003/151351854070879409177_BG560a_800.jpg");
background-size:cover;                               

}
</style>
<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
